body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
}

.home-button {
    height: 3.4em;
    width: auto;
    padding: 0;
    margin-right: 10px;
}

.page-title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    line-height: 1.5;
}

.deadline {
    right: 20px;
    font-size: 1.1em;
    color: green;
    margin-left: auto;
}

.divider {
    width: 100%;
    border: none;
    border-top: 2px solid black;
    margin: 10px 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

.right-section {
    margin-right: 10px;
}

.left-section {
    margin-left: 10px;
}

.download-button {
    margin-top: 2px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.download-button:hover {
    background-color: grey;
}

.upload-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
}

.upload-button:hover {
    background-color: grey;
}

.korrektur-button {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 32%;
}

.korrektur-button:hover {
    background-color: grey;
}

.points {
    margin-top: 80px;
    padding: 5px 10px;
}

.team-list {
    margin-top: 25px;
}

.tutor {
    margin-top: 30px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .left-section, .right-section {
        width: 90%;
        margin-bottom: 20px;
    }
}

.download-icon::before {
    content: "📥";
}

.delete-icon::before {
    content: "🗑️";
}